<p>Bienvenido a la pagina principal</p>

<div class="card-columns">
        <div class="card">
            <img src="assets/images/hospital.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nuestro programa</h5>
                <p class="card-text">Este programa serà creado para que todos los servicios de salud pùclica, ya sea Cesfam, postas y hospitales puedan conectarse para asi poder compartir fichas en caso de que algùn medico derive a algùn paciente</p>
            </div>
        </div>    
        <div class="card">
            <img src="assets/images/hospital.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Objetivos de nuestra aplicaciòn</h5>
                    <p class="card-text">El objetivo es poder conectar mediante un servidor para poder revisar fichas de pacientes </p>
            </div>
        </div> 
</div>                     