<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="#" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-nowrap ml-auto">
            <li class="nav-item mr-sm-2 active">
                <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="_usuarioService.isAdmin()" class="nav-item mr-sm-2 active">
                <a class="nav-link" routerLink="usuarios-admin" routerLinkActive="active">Administrador de Usuarios </a>
            </li>
            <li class="nav-item mr-sm-2 active">
                <a class="nav-link" routerLink="ficha" routerLinkActive="active">Ficha </a>
            </li>
            
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <a class="dropdown-toggle nav-link float-right" data-toggle="dropdown" aria-expanded="false" href="#">
                <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{_usuarioService.usuario.nombre}}</span><img width="30px" class="border rounded-circle img-profile" src="assets/images/profile.jpg">
                </a>
                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                    <a class="dropdown-item" [routerLink]="['/perfil']" >Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" href="#">Salir</a>
                </div>
            </li>
        </ul>
    </div>
</nav>