<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <input type="text" [(ngModel)]="rut" [required]/>
            <button type="button" class="btn btn-primary" (click)="buscarFicha()" >Obtiene Ficha</button><br><br>
            <div *ngIf="ficha">
                <app-datos-paciente [ficha]="ficha"></app-datos-paciente><br>
                <app-pestanas-arquetipo [ficha]="ficha"></app-pestanas-arquetipo>
            </div>
            <div *ngIf="!ficha">
            </div>
        </div>
        <div class="col-12 col-md-4">
                <app-lista-arquetipos></app-lista-arquetipos>
        </div>
    </div>
</div>