 <!-- Modal -->
 <div id="exampleModalLive" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <app-importa-arquetipo></app-importa-arquetipo>
        </div>
        </div>
    </div>
</div>

<mat-drawer-container class="css-container" hasBackdrop="false">
    <div class="css-drawer">
    <mat-drawer #drawer mode="side">
        <div appSimpleBar class="drawer">
            <app-lista-arquetipos (enviaArquetipo)="recibeArquetipo($event)" [agregar_arquetipo]="agregar_arquetipo"></app-lista-arquetipos>
        </div>
     </mat-drawer>
    </div>
        
    <mat-drawer-content>
       
        <div class="contenedor">
            <div class="row">
                <div class="col-12 col-md-12">                      
                    <div class="accordion" id="accordionExample">
                        <div class="form-inline">
                            <form>                        
                                <input type="text" (keyup)="formatea($event)" class="form-control mx-sm-3 mb-2" [(ngModel)]="rut" name="rut" placeholder="12.345.678-9" required/>
                                <button type="submit" class="btn btn-primary mb-2" (click)="buscarFicha()" >Buscar Ficha</button>
                                <span class="pointer" data-toggle="modal" data-target="#exampleModalLive"  title="Agregar arquetipo">
                                    <i class="material-icons add">
                                        add_box
                                    </i>
                                </span>
                            </form>
                        </div>
                        <div class="card" *ngIf="ficha">
                            <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Datos del Paciente
                                </button>
                            </h5>
                            </div>
                        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            
                                <app-datos-paciente [ficha]="ficha"></app-datos-paciente>
                            
                            </div>
                        </div>
                        <div class="card" *ngIf="ficha&&ficha.arquetipos.length>0">
                            <div class="card-header css" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" (click)="drawer.toggle()" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Arquetipos
                                </button>
                                <span class="pointer" mat-icon-button (click)="drawer.toggle()" data-toggle="tooltip" data-placement="button" title="Mostrar/Ocultar lista arquetipos">
                                    <i class="material-icons list">
                                        list
                                    </i>
                                </span>
                            </h5>

                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <app-editor-arquetipos [ficha]="ficha"></app-editor-arquetipos >
                            </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="ficha">
                    </div>
                    <div *ngIf="!ficha">
                    </div>
                </div>
            <!--<div class="col-12 col-md-2">
                    <app-lista-arquetipos (enviaArquetipo)="recibeArquetipo($event)" [agregar_arquetipo]="agregar_arquetipo"></app-lista-arquetipos>
                </div> -->
            </div>
        </div>
        
    </mat-drawer-content>
</mat-drawer-container>    

