.contenedor{
    margin-right: 10%;
}
.pointer{
    cursor: pointer;
}

.material-icons.list{
    position: relative;
    top: 10px;
    font-size: 30px; 
    text-align: end;
    color:rgb(	0, 123, 255)
    
}
.css-container{
    height: 100vh;
}
.material-icons.add {
    position: relative;
    top: 10px;
    font-size: 30px; 
    text-align: end;
    color:rgb(	0, 123, 255)
}