<!-- <input type="text" [(ngModel)]="ficha.folio">
<input type="date" [(ngModel)]="ficha.fecha_ingreso">
<button (click)="ModificarFicha()">Modificar</button> -->

Usuario Ingresa:<input class="form-control" type="text" [(ngModel)]="usuario" disabled>
<hr>
<div *ngFor="let a of arquetipo.campos">
    {{a.nombre | titlecase}}: <input class="form-control" type="text" [(ngModel)]="a.valor" required>            
</div>
<div class="col-sm-9" style="text-align: right">
    <button (click)="ModificarFicha()" class="btn btn-primary" >Modificar</button>
</div> 

