<div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
    <table class="table dataTable my-0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Roles</th>
                <th>2FA</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of usuarios">
                <td>
                    <img alt="usurio imagen" class="rounded-circle mr-2" width="30" height="30" src="assets/images/profile.jpg">
                    {{u.nombre}}
                </td>
                <td>{{u.email}} </td>
                <td> {{u.roles}} </td>
                <td>
                    <mat-slide-toggle
                        [disabled]="!u.Activo2FA"
                        (change)="activar2fa(u)"
                        color="danger"
                        matTooltip="Desactivar 2FA"
                        [(ngModel)]="u.Activo2FA">                        
                    </mat-slide-toggle>
                </td>
                <td>
                    <mat-slide-toggle
                        (change)="activarUsuario(u)"
                        color="primary"
                        matTooltip="Habilitar/Inhabilitar Usuario"
                        [(ngModel)]="u.activo">
                    </mat-slide-toggle>
                </td>
                <td><button type="button" (click)="openDialog(content,u)" class="btn btn-info" matTooltip="Cambiar Privilegios de Usuario">
                        <i class="fa fa-users"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- ============ Modal Privilegios de usuario ======== -->
<ng-template let-c #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Privilegios de Usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let p of privilegios_activos">
            <mat-slide-toggle [(ngModel)]="p.activo">
                {{p.privilegio}}
            </mat-slide-toggle>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="actualizaPrivilegios(c)">Cambiar Privilegios</button>
    </div>
  </ng-template>