<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
    <table class="table dataTable my-0" id="dataTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Roles</th>
                <th>2FA</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of usuarios">
                <td>
                    <img class="rounded-circle mr-2" width="30" height="30" src="assets/images/profile.jpg">
                    {{u.nombre}}
                </td>
                <td>{{u.email}} </td>
                <td> {{u.roles}} </td>
                <td>
                    <mat-slide-toggle
                        (change)="activar2fa(u)"
                        color="danger"
                        matTooltip="Habilitar/Inhabilitar 2FA"
                        [checked]="u.Activo2FA">                        
                    </mat-slide-toggle>
                </td>
                <td>
                    <mat-slide-toggle
                        color="primary"
                        matTooltip="Habilitar/Inhabilitar Usuario"
                        [checked]="u.activo">                        
                    </mat-slide-toggle>
                </td>
                

                <td><button type="button" class="btn btn-danger">
                </button> </td>
            </tr>
        </tbody>
    </table>
</div>
