<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
    <table class="table dataTable my-0" id="dataTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Roles</th>
                <th>2FA</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of usuarios">
                <td>
                    <img class="rounded-circle mr-2" width="30" height="30" src="assets/images/profile.jpg">
                    {{u.nombre}}
                </td>
                <td>{{u.email}} </td>
                <td> </td>
                <td *ngIf="u.Activo2FA">Activado</td><td *ngIf="!u.Activo2FA">Desactivado</td>
                <td *ngIf="u.activo">Habilitado</td><td *ngIf="!u.activo">Inactivo</td>

                <td><button type="button" class="btn btn-danger"><i class="fas fa-check-square"></i></button> </td>
            </tr>
        </tbody>
    </table>
</div>
