<div class="card col-sm-9">
    <div class="card-body">
        <h5 class="card-title">Datos del paciente</h5>
        <div class="card-text">
            Nombre: <input type="text" value={{ficha.paciente.nombre}}  align="right" readonly="readonly"><br>
            Rut: <input type="text" value={{ficha.paciente.rut}} readonly="readonly"><br>
            Fecha de nacimiento: <input type="text" value={{ficha.paciente.fecha_nacimiento}}><br>
            Estatura:<input type="text" value={{ficha.paciente.estatura_paciente}} readonly="readonly"><br>
            Sexo: <input type="text" value={{ficha.paciente.sexo}} readonly="readonly"><br>
            Grupo sanguineo: <input type="text" value={{ficha.paciente.grupo_sangre}} readonly="readonly"><br>

        </div>
    </div>
</div>